@model ErrorViewModel

@{
   
    var title = "Halifax Regional Police";
    ViewData["Title"] = title;
}


<h2 class="text-danger">Contact Your Admin For Police Officer's Pre-Registeration.</h2>


<h3>If you are a <b>Civilian</b> Please Try with <a href="Civilian">Civilian Registeration</a>. Thank you!</h3>
