
@model Admin
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "~/Views/Shared/_CivilianLayout.cshtml";
    var title = "HRP";
    ViewData["Title"] = title;

}
@section scripts{
    <script>
        function verifyPassword() {
            var pw = document.getElementById("pswd");
            var cpw = document.getElementById("cpswd");
            var passw = /^[A-Za-z]\w{7,14}$/;
            if (pw.value == "" && cpw.value == "") {
                document.getElementById("message").innerHTML = "**Fill the password please!";
                document.getElementById("message1").innerHTML = "**Fill the password please!";
                return false;
            } else if (pw.value.length < 8 && cpw.value.length < 8) {
                document.getElementById("message").innerHTML = "**Password length must be atleast 8 characters";
                document.getElementById("message1").innerHTML = "**Password length must be atleast 8 characters";
                return false;
            } else if (pw.value.length > 15 && cpw.value.length > 15) {
                document.getElementById("message").innerHTML = "**Password length must not exceed 15 characters";
                document.getElementById("message1").innerHTML = "**Password length must not exceed 15 characters";
                return false;
            } else if (!(pw.value.match(passw) && cpw.value.match(passw))) {
                document.getElementById("message").innerHTML = "**Strong Password Required";
                document.getElementById("message1").innerHTML = "**Strong Password Required";

                return false;
            } else if (pw.value != cpw.value) {
                document.getElementById("message").innerHTML = "***Password not matched with Confirm Password";
                return false;
            }
            {
                return true;
            }






        }
    </script>
}

<div class="row">
    <div class="col-md-8">
        <section>
            <centre>

                <h3> Update Password </h3>

                <form class="m-1 p-1" method="post" asp-controller="Civilian" asp-action="PasswordUpdated">


                    <div class="form-group">
                        <label> Enter Password </label>
                        <input type="password" id="pswd" name="pswd" class="form-control" required value="">
                        <span id="message" style="color:red"> </span> <br><br>
                    
                    </div><div class="form-group">
                        <label> Enter Confirm Password </label>
                        <input type="password" id="cpswd" name="cpswd" class="form-control" required value="">
                        <span id="message1" style="color:red"> </span> <br><br>

                    </div>
                    <button type="submit" onclick="return verifyPassword()" class="btn btn-primary">Update</button>


                    <button type="reset" value="Reset">Reset</button>
                </form>
                </center>
        </section>
    </div>
</div>
