@model ErrorViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var title = "Halifax Regional Police";
    ViewData["Title"] = title;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<h3>Try with Different ID/Value, <b>ID/Value already exist in Database</b>. Thank you!</h3>
