@model ErrorViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var title = "Halifax Regional Police";
    ViewData["Title"] = title;
}





<h3>Something Went Wrong From our side, Sorry for it. Please try again for our services.</h3>
