
@model IEnumerable<ComplaintHandle>

@{
    Layout = "~/Views/Shared/_PoliceLayout.cshtml";
    var title = "Compaint Tracker";
    ViewData["Title"] = title;
}

<h2>@title</h2>


<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr><th>Complaint ID</th><th>Your Last Update</th></tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td colspan="7" class="text-center">No Data</td></tr>

        }
        else
        {
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.complaint_id</td>
                    <td>@p.last_update</td>
                    

                    
                </tr>

            }
        }
    </tbody>
</table>
