
@model IEnumerable<Complaints>


@{ 

    Layout = "~/views/shared/_PoliceLayout.cshtml";
    var title = "Update Complaints";
    ViewData["Title"] = title;

}
    
<h2>@title<h2>

              <table class="table table-bordered table-sm table-striped">

                  <thead>
                      <tr>
                          <th>
                              Complaint Id
                          </th>
                          <th>
                              Complaint Description
                          </th>
                          <th>
                              Status Id
                          </th>
                      </tr>
                  </thead>

                  @if (Model == null)
                  {
                      <tr>
                          <td>
                              Complaint Id
                          </td>
                          <td>
                              Complaint Description
                          </td>
                          <td>
                              <a href="https://www.google.com/search?rlz=1C1CHBF_enIN845IN845&q=you+need+to+add+Some+Data+Driven+Link&spell=1&sa=X&ved=2ahUKEwiqoMin6-fvAhXFGFkFHVlaDUMQBSgAegQIAhAv&biw=1846&bih=1009">
                              Status Id
                              </a>
                          </td>
                      </tr>

                  }
                  else
                  {
                      @foreach (var p in Model)
                      {
                          <tr>
                              <td>
                                  p.id
                              </td>
                              <td>
                                  p.description
                              </td>
                              <td>
                                  <a href="https://www.google.com/search?rlz=1C1CHBF_enIN845IN845&q=you+need+to+add+Some+Data+Driven+Link&spell=1&sa=X&ved=2ahUKEwiqoMin6-fvAhXFGFkFHVlaDUMQBSgAegQIAhAv&biw=1846&bih=1009">
                                      p.status_id
                                  </a>
                              </td>
                          </tr>

                      }
                  }

              </table>