
@model IEnumerable<Complaints>


@{ 

    Layout = "~/views/shared/_PoliceLayout.cshtml";
    var title = "View Complaints";
    ViewData["Title"] = title;

}
    
<h2>@title<h2>

              <table class="table table-bordered table-sm table-striped">

                  <thead>
                      <tr>
                          <th>
                              Complaint Id
                          </th>
                          <th>
                              Complaint Description
                          </th>
                          <th>
                              Status Id
                          </th>
                      </tr>
                  </thead>

                  @if (Model == null)
                  {
                      <tr>
                          <td>
                              Complaint Id
                          </td>
                          <td>
                              Complaint Description
                          </td>
                          <td>
                              Status Id
                          </td>
                      </tr>

                  }
                  else
                  {
                      @foreach (var p in Model)
                      {
                          <tr>
                              <td>
                                  p.id
                              </td>
                              <td>
                                  p.description
                              </td>
                              <td>
                                  p.status_id
                              </td>
                          </tr>

                      }
                  }

              </table>